/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background-image: url('../public/bg.png'); 
  margin: 0;
  font-family: "Poppins";
  
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  
}

.todo-card {  
  background-color: rgba(333, 333, 333, 0.7);
  display: flex;
  align-items: center;
  padding: 20px;
  border: 3px solid #959595;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 800;
}

.todo-card.completed span {
  text-decoration: line-through;
  text-decoration-thickness: 2px; 
  opacity: 0.6;
}


.custom-checkbox {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #333;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  

}

.custom-checkbox:checked {
  background-image: url('../public/icons/tick.svg'); 
  background-size: cover;
  background-repeat: no-repeat; 
}

.add-todo {
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;
  display: flex; 
  flex-direction: column; 
}

.add-todo form {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.form-control {
  flex-grow: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0;
  border: 4px solid #959595;
  border-radius: 10px;
  margin-right: 10px; 
}

.form-control input[type="text"] {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%; 
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.btn-add {
  cursor: pointer;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  flex-shrink: 0; 
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border: 3px solid #959595;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-add:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn-add:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;

}

div.error{
  padding: 10px;
  margin-top: 20px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
}
div.success{
  padding: 10px;
  margin-top: 20px;
  background: #efffef;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
}

.icon-container{
  margin-left: auto;
  display: flex;
  align-items: center;
}

img{
  width: 20px;
  height: 20px;
  padding: 5px 8px;
  cursor: pointer;
}

.todo-card input[type="text"] {
  font-family: "Poppins", sans-serif;
  font-weight:  800; 
  font-size:  16px; 
  border: none; 
  outline: none; 
  width:  100%; 
  
  
}

.tab{
  display: flex;
}

.filter-buttons {
  display: flex;
  margin-bottom:  20px;
  
}

.filter-buttons button {
  margin:  0  5px;
  padding:  10px  12px;
  border: none;
  border-radius:  5px;
  background-color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 3px solid #959595;
  transition: all 0.3s ease-in-out;

}

.filter-buttons button:hover {
  background: #efffef;
}

.filter-buttons button.active {
  border: 3px solid var(--primary);
  background: #efffef;

}

.clear-button {
  margin-left: auto;
  align-items: center;
}

.clear-completed {
  margin:  0  5px;
  padding:  10px  12px;
  border-radius: 5px;
  border: 2px solid var(--error);
  background: #ffefef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  
}

.clear-completed:hover {
  background: #dfa1a1;

}

.no-todos-message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-todos-message img{
  height: 400px;
  width: 400px;
}

@media (max-width:  468px) {
  .no-todos-message img {
    margin-top: 40%;
    height:  100%;
    width:  100%;
  }
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
  font-weight: 800;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

@media (max-width:  668px) { 
  .container nav div span {
    display: none;
  }
}

/* auth forms */
.auth-card, .auth-card * {
  box-sizing: border-box;
}

.auth-card {
  max-width:  500px;
  margin:  0 auto;
  padding:  50px;
  border:  1px solid #ccc;
  border-radius:  5px;
  box-shadow:  0  2px  4px rgba(0,  0,  0,  0.2);
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width:  668px) { 
  .auth-card {
    margin-top: 10%;
  }
}

.auth-card h3 {
  margin-top: 0;
  margin-bottom:  20px; 
  font-size:  1.5em;
  text-align: center; 
}

.auth-card label {
  display: block;
  margin-bottom:  5px;
  width:  100%;
  font-weight:  600; 
}

.auth-card input {
  width:  100%;
  padding:  10px; 
  margin-bottom:  20px; 
  border:  1px solid #ccc;
  border-radius:  3px;
  font-size:  16px; 
  font-family: "Poppins";
}

.auth-card button {
  width:  100%;
  padding:  10px; 
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid var(--primary);
  background: #f0ffef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.auth-card button:hover {
  background: #a1dfb7;
}

.auth-card p {
  color: red;
  text-align: center; 
}

